.cabecalho {
  align-items: center;
  background-color: var(--branco);
  display: flex;
  justify-content: space-between;
}

.cabecalho__menu-hamburguer {
  background-image: url(../img/Menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;
  width: 24px;
  height: 24px;
}

.container {
  align-items: center;
  display: flex;
}

.container__imagem {
  padding: 1em;
}
